@import '@common/scss/variable.scss';

.sell {

  .book-card {
    position: fixed;
    top: 0;
    bottom: 140px;

    .info-des {
      display: flex;
      align-items: center;
      font-size: $fontsize-normal;

      text:nth-last-child(2) {
        margin-left: 20px;
      }

      .des {
        width: 120px;
        border-bottom: 1px solid black;
        text-align: center;
      }
    }
  }

  .scan-code {
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-btn {
      height: 80px;
      width: 300px;
      border-radius: 50px;
      background-color: $color-theme;
      color: $color-normal-text;
      font-size: 28px;
      display: flex;
      align-items: center;
      justify-content: center;

      view {
        padding-left: 10px;
      }
    }

    .secondary-btn {
      font-size: 24px;
      color: $color-light-text;
      line-height: 50px;
    }

    .putOutWrapper {
      width: 100%;
      height: 100px;
      padding: 0 20px;
      font-size: $fontsize-normal;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $color-page-bgc;
      box-sizing: border-box;

      .putOutBtn {
        height: 60px;
        line-height: 60px;
        background-color: $color-theme;
        color: $color-normal-text;
        font-size: $fontsize-large;
        margin: 0;
        padding: 0 40px;
      }
    }
  }
}