@import '@common/scss/variable.scss';

.index {
  display: flex;
  padding: 20px;
  position: relative;
  border-bottom: 2px solid $color-light-border;

  .card-img {
    margin-right: 30px;

    image {
      height: 200px;
      width: 150px;
    }
  }

  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    overflow: hidden;
    .info-top {

      .info-title {
        width: 90%;
        font-size: $fontsize-normal;
      }

      .info-author {
        font-size: $fontsize-small;
        color: $color-light-text;
      }
    }
  }
  .close-fixed{
    position: absolute;
    right: 20px;
    top: 20px;
    .avatal-img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}