// 字体规范
$fontsize-normal: 28px;
$fontsize-small: 24px;
$fontsize-large: 30px;

// 颜色规范
$color-theme: #6190E8;
$color-normal-text: #fff;
$color-light-text: #ccc;
$color-strong-text: #6190E8;
$color-med-text: #757575;
$color-med-bgc: #757575;
$color-page-bgc: #F0F0F0;
$color-white-bgc: #fff;
$color-strong-bgc: #6190E8;
$color-light-bgc: #F0F0F0;
$color-medLight-bgc: #F7F7F7;
$color-light-border: #F0F0F0;
$color-theme-corder: #6190E8;