@import '@common/scss/variable.scss';

.index {
  .faculty-wrapper {
    width: 100%;
    margin: 30px 0;

    .search-faculty {
      display: flex;
      padding: 0 10px;

      .faculty-item {
        line-height: 40px;
        padding: 0 20px;
        margin-right: 20px;
        text-align: center;
        font-size: $fontsize-small;
        color: $color-strong-text;
        border-radius: 5px;
        border: 1px solid $color-theme-corder;
        flex: 1 0 auto;
      }

      .faculty-item-active {
        color: $color-normal-text;
        background-color: $color-theme-corder;
      }
    }
  }

  .book-list {
    .loading {
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: $fontsize-small;
      color: $color-light-text;
    }

    .over-down {
      line-height: 50px;
      font-size: $fontsize-small;
      text-align: center;
      color: $color-light-text;
    }

    .info-des {
      display: flex;
      justify-content: space-between;

      .des-left {
        .info-percent {
          font-size: $fontsize-normal;
        }

        .info-price {
          .price {
            font-size: $fontsize-small;
            color: $color-light-text;
            text-decoration: line-through;
          }

          .now-price {
            font-size: $fontsize-normal;
            color: $color-strong-text;
            margin-left: 20px;
          }
        }
      }

      .des-right {
        display: flex;
        align-items: flex-end;

        view {
          line-height: 60px;
          border-radius: 10px;
          padding: 0 20px;
          font-size: $fontsize-normal;
          background-color: $color-theme-corder;
          color: $color-normal-text;
        }
      }
    }
  }

  .model-content {
    font-size: 28px;
    text-align: center;
    padding: 20px 0;
  }
}